@import "tailwindcss";
@plugin "daisyui" {
    logs: false;
    themes: light --default, dark --prefersdark
}

table {
    @apply border;
    border-color: var(--color-base-content);
}

th {
    @apply border;
    border-color: var(--color-base-content);
}

td {
    @apply border;
    border-color: var(--color-base-content);
    white-space: pre-wrap;
}