@import "tailwindcss";
@plugin "daisyui" {
    logs: false;
    themes: emerald --default
}

table {
    @apply border;
    border-color: var(--color-base-content);
}

th {
    @apply border bg-base-200;
    border-color: var(--color-base-content);
}

td {
    @apply border;
    border-color: var(--color-base-content);
    white-space: pre-wrap;
}